<div class="container">
    <div class="panel panel-default avatar-select">
        <div class="panel-heading">
            <h4>Select Your Avatar</h4>
            <div>
                <input type="hidden" id="user-id" name="user-id" value={{user.id}} />
            </div>
        </div>
        <div class="panel-body">
            <div class="row text-center">
                <button><img class="option option-1" src="" /></button>
                <button><img class="option option-2" src="" /></button>
                <button><img class="option option-3" src="" /></button>
                <button><img class="option option-4" src="" /></button>
                <button><img class="option option-5" src="" /></button>
                <button><img class="option option-6" src="" /></button>
            </div>
        </div>
    </div>
</div>

<script src="/js/addAvatar.js"></script>
